html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
    @extend %Rubik-400;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    @extend .container;
    max-width: 1800px;
}

