   @import 'components/vars';
   @import 'components/fonts';
   @import 'components/reset';
   @import 'components/libs';
   @import 'components/global';

   @import 'components/header';
   @import 'components/footer';

   @import 'main/topSlider';
   @import 'main/support';
   @import 'main/products';
   @import 'main/lamp';
   @import 'main/design';
   @import 'main/video';
   @import 'main/articles';

   @import 'page/page.scss';
   @import 'logIn/login.scss';
   @import 'conditions/conditions.scss';