.footer {
    padding-top: 82px;
    padding-bottom: 35px;
    color: $gray;
    font-size: 14px;
    line-height: 1.6;

    &__link,
    &__bottom-link,
    &__address-link {
        transition: color 0.5s;

        &:hover {
            color: #133a4d;
        }
    }

    &__columns {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #dae4e9;
        margin-bottom: 33px;
    }

    &__column {
        padding-bottom: 70px;

        &--form {
            max-width: 270px;
        }
    }

    &__logo {
        display: block;
        margin-bottom: 26px;
    }

    &__address {
        max-width: 200px;
        font-style: normal;
    }

    &__address-link {
        display: block;
        margin-bottom: 13px;
    }

    &__title {
        font-size: 16px;
        text-transform: uppercase;
        color: #1f2044;
        @extend %DMSans-700;
        padding-top: 15px;
        margin-bottom: 18px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__text {
        margin-bottom: 36px;
    }

    &__form-input,
    &__form-btn {
        @extend %DMSans-400;
        border: none;   
    }

    &__form-input {
        font-size: 12px;
        background-color: #fef7f0;
        outline: inherit;
        padding: 10px 15px;
        width: 100%;
        z-index: 1;

        &::placeholder {
            color: #234969;
        }
    }

    &__form-box {
      display: flex;
      justify-content: space-between;
    }

    &__form-btn {
        background-color: $aqua;
        color: #fff;
        padding: 8px 17px;
        cursor: pointer;
        transition: background-color 0.5s;

        &:hover {
            background-color: #243f4d;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__bottom-list {
        display: flex;
    }

    &__bottom-item {
        padding: 0 15px;

        &:last-child {
            padding-right: 0;
        }

        &:not(:last-child) {
            border-right: 1px solid #7b7b7b;
        }
    }
}