html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
    @extend %Rubik-400;
    background-color: #fff;
}

span {
    display: inline-block;
}

button {
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: inherit;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    @extend .container;
    max-width: 1800px;
}

.title {
    font-size: 36px;
    @extend %DMSans-700;
    text-align: center;
}

.btn {
    @extend %Rubik-500;
    font-size: 15px;
    position: relative;
    transition: background-color 0.5s;

    &:hover {
        background-color: #243f4d;
    }

    &::after {
        content: '';
        position: absolute;
        background-image: url('../images/arrow-right.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 25px;
        height: 10px;
    }
}

.products__btn,
.design__btn {
    &:hover {
        color: $aqua;
    }
}

.categories {
    display: flex;
    justify-content: center;

    &__item {
        border: none;
        background-color: inherit;
        padding: 0 15px;
        @extend %DMSans-700;
        color: #939393;
        cursor: pointer;
        transition: color 0.5s;

        &:hover {
            color: #292929;
        }
    }
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}