.articles {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-color: #fef7f0;
        height: 435px;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    &__inner {
        padding-bottom: 85px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 106px;
    }

    &__title {
        margin-bottom: 39px;
    }

    &__view {
        background-color: inherit;
        padding-right: 24px;
        position: relative;
        color: #262626;
        @extend %DMSans-700;

        &::after {
            content: '';
            position: absolute;
            background-image: url('../images/articles/icon-right.svg');
            width: 6px;
            height: 11px;
            top: 5px;
            right: 0;
        }
    }

    &__items {
        display: flex;
        margin-bottom: 94px;
    }

    &__partners {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.articles-item {
    max-width: 370px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;

    &:hover {
        transform: translatey(-7px);
    }

    &:not(:last-child) {
        margin-right: 30px;
    }

    &__box-img {
        position: relative;
    }

    &__img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    &__news {
        position: absolute;
        padding: 4px 31px;
        border-radius: 20px;
        font-size: 14px;
        text-transform: uppercase;
        @extend %Poppins-700;
        background-color: #a3bbc8;
        color: #fff;
        left: 28px;
        bottom: -13px;
    }

    &__text {
        @extend %DMSans-500;
        padding: 34px 34px 14px;
        color: #262626;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.1px;
    }

    &__info {
        padding: 17px 0 24px;
        font-size: 12px;
        color: #222933;
        text-transform: uppercase;
        margin-top: auto;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 316px;
            background-color: #e0e0e0;
            left: 27px;
            top: 0;
        }
    }

    &__date {
        padding-left: 34px;
        margin-right: 5px;
    }

    &__author {
        padding-left: 20px;
    }

    &__date::before,
    &__author::before {
        content: url('data:image/svg+xml; utf8, <svg id="Capa_1" enable-background="new 0 0 512 512" height="10" viewBox="0 0 512 512" width="10" xmlns="http://www.w3.org/2000/svg"><g><path d="m457 60h-36v-15c0-24.813-20.187-45-45-45s-45 20.187-45 45v15h-150v-15c0-24.813-20.187-45-45-45s-45 20.187-45 45v15h-36c-30.327 0-55 24.673-55 55v342c0 30.327 24.673 55 55 55h402c30.327 0 55-24.673 55-55v-342c0-30.327-24.673-55-55-55zm-96-15c0-8.271 6.729-15 15-15s15 6.729 15 15v60c0 8.271-6.729 15-15 15s-15-6.729-15-15zm-240 0c0-8.271 6.729-15 15-15s15 6.729 15 15v60c0 8.271-6.729 15-15 15s-15-6.729-15-15zm-91 70c0-13.785 11.215-25 25-25h36v15c0 24.813 20.187 45 45 45s45-20.187 45-45v-15h150v15c0 24.813 20.187 45 45 45s45-20.187 45-45v-15h36c13.785 0 25 11.215 25 25v67h-452zm452 342c0 13.785-11.215 25-25 25h-402c-13.785 0-25-11.215-25-25v-245h452z"/><path d="m306.764 272h23.473v165c0 8.284 6.716 15 15 15s15-6.716 15-15v-180c0-8.284-6.716-15-15-15h-38.473c-8.284 0-15 6.716-15 15s6.715 15 15 15z"/><path d="m211.764 422c-14.886 0-27.658-11.09-29.71-25.796-.192-1.378-.29-2.792-.29-4.204 0-8.284-6.716-15-15-15s-15 6.716-15 15c0 2.793.194 5.603.577 8.35 4.109 29.445 29.655 51.65 59.423 51.65 33.084 0 60-26.916 60-60 0-17.908-7.896-33.997-20.377-45 12.481-11.003 20.377-27.092 20.377-45 0-33.084-26.916-60-60-60-28.607 0-53.367 20.35-58.874 48.387-1.597 8.129 3.699 16.013 11.828 17.61 8.12 1.596 16.012-3.699 17.609-11.828 2.751-14.004 15.131-24.169 29.437-24.169 16.542 0 30 13.458 30 30s-13.458 30-30 30c-8.284 0-15 6.716-15 15s6.716 15 15 15c16.542 0 30 13.458 30 30s-13.458 30-30 30z"/></g></svg>');
    }

}