.products {
    padding: 62px 0 0;
    text-align: center;

    &__title {
        margin-bottom: 19px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        grid-row-gap: 40px;
        margin-bottom: 187px;
    }

    &__categories {
        margin-bottom: 76px;
    }
}

.products-item {
    max-width: 270px;
    padding: 29px 45px 27px;
    text-align: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    &:hover {
        transform: translatey(-7px);
        box-shadow: 5px 5px 5px 5px #a3bbc8;
    }

    &__box {
        height: 210px;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 56px;
    }

    &__img {
        object-fit: cover;
        max-width: unset;
    }

    &__box-link {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 40%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(600%);
    }

    &__link {
        background-color: #fff;
        border-radius: 50%;
        display: inherit;
        padding: 12px;
        transition: background-color 0.5s;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        border: none;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover {
            background-color: #a3bac7;

            path {
                fill: #fff;
                transition: all 0.5s;
            }
        }
    }

    &:hover {
        .products-item__box-link {
            transform: translateY(0);
        }
    }

    &__title {
        @extend %DMSans-500;
        color: $ocean;
        font-size: 16px;
        margin-top: auto;
        margin-bottom: 2px;
    }

    &__price {
        @extend %DMSans-700;
        color: $aqua;
        line-height: 2;
    }
}