.top {
    background-color: #edf1f4;
    padding: 21px 0 29px;

    &__title {
        font-family: 'Rubik-light', sans-serif;
        font-weight: 300;
    }
}

.breadcrumbs {

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        color: $gray;
        font-size: 14px;
        position: relative;

        &:not(:last-child) {
            padding-right: 20px;

            &::after {
                content: '/';
                position: absolute;
                right: 7px;
            }
        }

    }
}